PORT=5000
MONGO_URI=your_mongodb_connection_string_here
GEMINI_API_KEY=your_gemini_api_key_here
GROQ_API_KEY=your_groq_api_key_here
JWT_SECRET=your_jwt_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
MS_TRANSLATOR_KEY=your_ms_translator_key_here
MS_TRANSLATOR_REGION=your_ms_translator_region_here
